<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
</head>
<body>
    <div class="main">
        <h1>Home Maintenance</h1>
        <h3>Fill Your Register Data</h3>

        <form action="{{ url_for('register') }}" method="POST">
            <label for="first">Enter Your First Name:</label>
            <input type="text" id="First" name="first" placeholder="Enter Your First Name" required>

            <label for="Last">Enter Your Last Name:</label>
            <input type="text" id="second" name="Last" placeholder="Enter Your Last Name" required>

            <label for="Email">Enter Your Email:</label>
            <input type="text" id="Email" name="Email" placeholder="Enter Your Email" required>

            <label for="Password">Password:</label>
            <input type="password" id="Password" name="Password" placeholder="Enter password" required>

            <label for="role">Role</label>
            <select name="Role" id="role" required>
                <option value="Tennent">Tennent</option>
                <option value="Admin">Admin</option>
                <option value="Tech">Technician</option>
            </select>

            <label for="Date">Select Your Birthday</label>
            <input type="date" id="Date" name="Date" required>

            <label for="Gender">Gender:</label>
            <select name="Gender" id="Gender" required>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>

            <button type="Register">Register</button>
        </form>

        <p>
            Already Registered?
            <a href="{{ url_for('login') }}">Login</a>
        </p>
    </div>
</body>
</html>